@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;500;600;700;900&display=swap');

.App {
  position: relative;
  text-align: center;
  font-family: 'Nunito', sans-serif;
  color: #fff;
  min-height: 100vh;
}


/* NavBar */
.navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 5px;
  text-transform: uppercase;
  font-weight: bold;
  color: black;
  height: 60px;
}

.subNav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 400px;
}


.logo{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  height: 30px;
}

.link {
  text-decoration: none;
}

a, a:visited, a:hover, a:active {
  color: inherit;
}

.logoTitle {
  margin-left: 10px;
}

.country-row img {
  width: 100px;
  border: 1px solid lightgray;
}

.country-container {
  padding-bottom: 80px;
  position: center;
}

/* About */
.about {
  color: black;
  position: relative;
  text-align: center;
  padding-bottom: 450px;
}

/* Loading Page */
.loader {
  height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

/* Footer */
.footer {
  margin: 0px;
  padding: 50px;
  width: 100%;
  display: flex;
  position: relative;
  bottom: 0px;
  justify-content: center;
}

.footer p {
  justify-self: center;
  align-self: center;
}